html{
    margin: 0;
    padding: 0;
    background-image:radial-gradient(white, black);
    height: 100vh;
}
div#calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: black;
    font: normal 13pt impact;
    color: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}
footer{
    position: absolute;
    font: italic 18pt impact;
    left: 50%;
    top: 102%;
    transform: translate(-50% , -102%);
}
.botao{
    font: normal 15pt arial;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
    border: none;
}

.botao1{
    font: normal 15pt arial;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    cursor: pointer;
    background-color: rgb(209, 144, 24);
    color: white;
    border: none;
}
.botao2{
    font: normal 15pt arial;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    cursor: pointer;
    background-color: rgb(160, 160, 160);
    color: black;
    border: none;
}
.botao:hover{
    background-color: rgb(30, 30, 30);
}
.botao1:hover{
    background-color: rgb(173, 120, 4);
}
.botao2:hover{
    background-color: rgb(90, 90, 90);
}
p#resultado{
    background-color: white;
    width: 298px;
    height: 30px;
    font: normal 20pt arial;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 3px;
}